{% extends 'AlimentosBundle::layout.html.twig' %}

{% block title %}
	Pagina de {{nombre}}
{% endblock %}

{% block contenido %}
	<h1>Inicio</h1>
	<h3>Fecha: {{fecha}} </h3>
	{{mensaje}}
	<h2>{{nombre}}</h2>
{% endblock %}